# py_cache
*__pycache__/
*.pyc
*.egg-info

# VS Code
.vscode/

# test
test.*

# backup
backup/

# model
peg_in_hole_gym/envs/assets/lstm/data/*
peg_in_hole_gym/envs/assets/lstm/output/*
!peg_in_hole_gym/envs/assets/lstm/data/.keep
!peg_in_hole_gym/envs/assets/lstm/output/.keep
