<?xml version="0.0" ?>
<!-- based on data/cube.urdf -->
<robot name="procedural_obj_Amicelli_800_tex">
  <link name="procedural_obj_Amicelli_800_tex">
    <contact>
      <lateral_friction value="0.0"/>
      <rolling_friction value="0.0"/>
      <contact_cfm value="0.0"/>
      <contact_erp value="0.0"/>
    </contact>
    <inertial>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <mass value="1.0"/>
      <inertia ixx="1" ixy="0" ixz="0" iyy="1" iyz="0" izz="1"/>
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="../obj/Amicelli_800_tex.obj" scale="1 1 1"/>
      </geometry>
      <material name="random_colour">
        <color rgba="0.431 0.185 0.327 1"/>
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="../obj/Amicelli_800_tex.obj" scale="1 1 1"/>
      </geometry>
    </collision>
  </link>
</robot>

